body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #808080; /* GREY */
}

canvas {
    border: 2px solid black;
}
